    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: rgb(236, 214, 185);
    }
    
    form {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(224, 166, 51);
        flex-direction: column;
        height: 300px;
        width: 400px;
        border-radius: 10%;
    }